.banner_wrapper {
  display: flex;
  width: 100%;
  padding: 100px 0 125px;
  /* background-image: linear-gradient(to top, #37d8ee, #46caec, #58bbe5, #69acda, #769ecc); */
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.banner_wrapper .banner-subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 15px;
  color: rgb(164, 123, 29);
}
.banner_wrapper .banner-title {
  font-weight: 800;
  font-size: 40px;
  text-transform: capitalize;
  line-height: 1.15;
  margin-bottom: 25px;
  color: #101010;
}
.banner_wrapper .banner-title span {
  color: rgb(224, 50, 175);
}
.banner_wrapper .banner-title-text {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 40px;
  max-width: 450px;
  color: rgb(84, 84, 84);
}

.banner_wrapper .learn-more-btn-section {
  display: flex;
  
  justify-content: left;
  align-items: center;
  margin-top: 20px;
}
.learn-more-btn-section .learn-more-btn {
  background-color: rgb(216, 15, 15) !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  color: whitesmoke !important;
  padding: 12px 29px !important;
  border-radius: 10px !important;
  border: 2px solid rgb(199, 31, 64) !important;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%) !important;
  display: inline-block !important;
  text-decoration: none !important;
  transition: 0.7s !important;
}
/* // */
/* .learn-more-btn {
  background-color: rgb(216, 15, 15) !important;
  font-size: 8px !important;
  font-weight: 700 !important;
  color: whitesmoke !important;
  padding: 12px 29px !important;
  border-radius: 10px !important;
  border: 2px solid rgb(199, 31, 64) !important;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%) !important;
  display: inline-block !important;
  text-decoration: none !important;
  transition: 0.7s !important;
} */


.banner_wrapper .header-img-section img {
  width: 100%;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media (max-width: 1230px) {
  .banner_wrapper .banner-title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .banner_wrapper {
    padding: 100px 0 100px;
  }
  .banner_wrapper .row {
    flex-direction: column-reverse;
  }
  .banner_wrapper .learn-more-btn-section {
    justify-content: center;
    /* background-color: #d11a2a; */
  }
}

@media (max-width: 991px) {
  .banner_wrapper .banner-title {
    font-size: 30px;
  }
}

.shape-fill {
  fill: #c0abd3;
  padding: 0 !important;
  margin-top: -1px !important;
}

@media (max-width: 500px) {
  .shape-fill {
    display: none;
  }
}
